<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información Personal</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <p><strong>Misi&oacute;n:</strong></p>
<p>Ofrecer a la mujer actual bolsos vers&aacute;tiles y de alta calidad que se adaptan a cualquier ocasi&oacute;n, combinando excelencia en los materiales con precios accesibles para que el estilo y la durabilidad est&eacute;n al alcance de todas.</p>
<p>&nbsp;</p>
<p><strong>Visi&oacute;n:</strong></p>
<p>Consolidarnos como una marca indispensable en el armario femenino, destacando por nuestra capacidad de innovar en dise&ntilde;os vers&aacute;tiles y por el compromiso innegociable con la calidad y la accesibilidad.</p>
</ion-content>